/* ESTILOS GLOBAIS*/

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/font-robot/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/font-robot/Roboto-Black.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/font-robot/RobotoSlab-Regular.ttf');
}

@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/font-robot/RobotoSlab-Bold.ttf');
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', 'San-serif';
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

body,
html {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(201, 201, 201);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    border-radius: 50px;
    border: 3px solid rgb(134, 134, 134);
}

:root {
    --Preto: #262223;
    --LaranjaClaro: #F26E22;
    --LaranjaEscuro: #c75c1f;
    --MarromClaro: #733E20;
    --MarromEscuro: #402C20;
}

h1 {
    color: var(--LaranjaClaro);
    font-size: 40px;
    font-weight: 700;
}

h2 {
    color: var(--LaranjaClaro);
    font-size: 35px;
    font-weight: 700;
}

h3 {
    color: black;
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
}

h4 {
    color: var(--LaranjaClaro);
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
}


h5 {
    color: black;
    font-size: 18px;
    font-weight: bold;
}

h6 {
    color: black;
    font-size: 16px;
    font-weight: normal;
    font-family: 'RobotoSlab', 'San-serif';
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
}

main {
    padding-top: 80px;
    min-height: 1800px;
}

article {
    margin: auto;
    margin-bottom: 100px;
}

.header-article {
    width: 80vw;
    max-width: max-content;
    margin: 0px auto 60px auto;
    text-align: left;
}


/* ESTILOS GLOBAIS*/




/* MENU */

header {
    background-color: #ffffff60;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.logo {
    background-image: url('../images/logo/logo_otica_imagem-menu.png');
    width: 150px;
    height: 60px;
    background-position: center;
    background-size: cover;
}

/* MENU */





/* SESSÃO HOME */

.article-home {
    display: flex;
    flex-direction: column;
}

.section-title-home {
    width: 85vw;
    margin: auto;
    padding-bottom: 25px;
}

.section-title-home h1 {
    margin-bottom: 30px;
}

.section-title-home p {
    margin-bottom: 30px;
}

.buttons-intial-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.btn {
    background-color: #a0a0a0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    user-select: none;
    transition: all .3s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
    .btn:hover {
        transform: scale(1.03);
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        background-position: right center;
    }
}

.btn:active {
    transform: scale(1.03);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    background-position: right center;
}

.btn-wats {
    background-image: linear-gradient(to right, rgb(23, 238, 23) 0%, rgb(93, 219, 93) 100%);
    gap: 8px;
}


.btn-saiba-mais {
    background-image: linear-gradient(to right, var(--LaranjaClaro) 0%, #fc5432 100%);
}

.section-image-home {
    width: 90vw;
    margin: auto;
}

.logo-btn {
    width: 22px;
    height: 22px;
    animation: grow-shrink 2s infinite ease-in-out;
}

@keyframes grow-shrink {
    0% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.1);
    }
}

/* SESSÃO HOME */






/* SESSÃO SOBRE */

.section-sobre {
    background-image: url('../images/banner/otica-mobile-banner4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    justify-content: center;
}

.itens-group-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.card-sobre {
    background-color: white;
    width: 85vw;
    max-width: 300px;
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-sobre h4 {
    margin-bottom: 25px;
}

.img-sobre {
    height: 80vw;
    max-height: 250px;
    max-width: 300px;
}

.img-sobre-min {
    height: 60vw;
    max-height: 250px;
    max-width: 300px;
}

/* SESSÃO SOBRE */







/* SESSÃO INFO */

.section-infos {
    margin: auto;
    width: 85VW;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-infos p {
    margin-bottom: 40px;
}


.section-infos img {
    height: 70vw;
}

/* SESSÃO INFO */






/* SESSÃO PRODUTOS*/

.section-produtos {
    /* box-shadow: inset 0px 0px 8000px rgba(0, 0, 0, 0.1); */
    background-image: url('../images/banner/otica-mobile-banner4.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
    padding: 80px 5vw;
    border-radius: 50px;
}

.img-produto {
    height: 350px;
    width: 85vw;
    max-width: 280px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.img-logo-prod{
    width: 100px;
    position: absolute;
    top: -30px;
    left: -35px;
    /* left: 50%;
    transform: translateX(-50%); */
    border-radius: 5px;
}

.logo-tommy{
    top: -50px;
}

/* SESSÃO PRODUTOS*/






/* SESSÃO MERCADO LIVRE*/

.header-article-ml {
    width: 80vw;
    margin: 0px auto 60px auto;
    text-align: left;
    background-color: var(--Preto);
    padding: 25px;
    border-radius: 15px;
}

.header-article-ml h2 {
    color: yellow;
}

.section-ml {
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 50px;
}

.section-ml h1{
    color: black
}

.icone-mulher-computador {
    height: 52vw;
    max-height: 360px;
    max-width: 600px;
}

.content-ml {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.btn-area-ml {
    display: flex;
}

.btn-ml {
    color: black;
    display: flex;
    gap: 8px;
    background-image: linear-gradient(to right, rgb(238, 238, 23) 0%, rgb(242, 242, 49) 100%);
}

/* SESSÃO MERCADO LIVRE*/




/* SESSÃO VANTAGENS */

.section-vantegens {
    /* box-shadow: inset 0px 0px 8000px rgba(0, 0, 0, 0.1); */
    background-image: url('../images/banner/otica-mobile-banner4.png');
    padding: 90px 5vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    border-radius: 50px;
}

.card-quality {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    width: 85vw;
    max-width: 300px;
    padding: 50px 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-quality h3 {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
    width: 200px;
}

.card-quality p {
    text-align: left;
    width: 222px;
}

/* SESSÃO VANTAGENS */







/* SESSÃO DEPOIMENTOS */

.section-depoimentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    width: 85vw;
    margin: auto;
}

.card-depoimento {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 85vw;
    max-width: 300px;
    border-radius: 10px;
    padding: 25px;
    min-height: 300px;
    transition: all .3s;
}

@media (hover: hover) and (pointer: fine) {
    .card-depoimento:hover {
        transform: scale(1.02);
        box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
    }
}

.card-depoimento-header {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    align-items: end;
}

.card-depoimento-header p {
    color: black;
}

.pessoa-foto {
    height: 30px;
    width: 30px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

/* SESSÃO DEPOIMENTOS */









/* SESSÃO FAQ */

.section-faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.faq-container {
    background-color: rgb(236, 233, 233);
    width: 85vw;
    max-width: 700px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.faq-header {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}

.icone-faq {
    transition: all .3s;
}

.icone-seta {
    height: 25px;
}

.faq-body {
    overflow: hidden;
}

.faq-body {
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s ease-in-out;
}

.faq-body.active {
    padding-top: 15px;
    max-height: 100px;
}

.icone-faq.active {
    transform: rotate(-180deg);
}

/* SESSÃO FAQ */










/* SESSÃO ARTIGO FINAL */

.article-banner-end {
    display: flex;
    justify-content: center;
    margin-top: -100px;
}

.image-banner3 {
    height: 120vw;
    max-height: 600px;
    margin: auto;
}

/* SESSÃO ARTIGO FINAL */



/* RODAPÉ */

footer {
    background-color: var(--Preto);
    width: 100vw;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 20px; */
}

.footer-header p {
    color: rgb(199, 196, 196);
    font-size: 15px;
}

.footer-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100vw;
    padding: 30px 20px 0px 20px;
}

.icons-footer img {
    height: 35px;
}

.icons-footer {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 5px;
}

.icons-footer a {
    transition: all .3s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
    .icons-footer a:hover {
        opacity: 0.7;
    }
}

.icons-footer a:active {
    opacity: 0.7;
}

.footer-location p {
    text-align: start;
}

.footer-copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 25px;
}

.footer-copy>p {
    color: rgb(199, 196, 196);
    font-size: 12px;
    margin: -5px;
}

.dev-site {
    background-color: rgba(255, 255, 255, 0.133);
    width: 100vw;
    display: flex;
    justify-content: center;
    transition: all .3s ease-in-out;
}

.dev-site p {
    color: rgb(199, 199, 199);
    transition: all .3s;
    font-size: 12px;
}

.dev-site span {
    color: var(--LaranjaClaro);
    opacity: 0.8;
    transition: all .3s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
    .dev-site:hover {
        background-color: rgba(255, 255, 255, 0.05);

        p {
            color: rgb(231, 231, 231);
        }

        span {
            opacity: 1;
        }
    }
}

.dev-site:active {
    background-color: rgba(255, 255, 255, 0.05);

    p {
        color: rgb(231, 231, 231);
    }

    span {
        opacity: 1;
    }
}

/* RODAPÉ */








/* SCROLL TOP */

.scroll-top {
    position: fixed;
    bottom: 100px;
    right: -50px;
    height: 50px;
    width: 50px;
    transition: all .3s;
}

.scroll-top.active {
    right: 20px;
}

.icones-scroll-top {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.scroll-top img {
    height: 45px;
}

.wats-scroll-top {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(1, 213, 40, 0.1);
    transition: all .3s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
    .scroll-top .wats-scroll-top:hover {
        opacity: 0.95;
        transform: scale(1.05);
        box-shadow: 0px 5px 10px rgba(1, 213, 40, 0.2);
    }
}

.scroll-top .wats-scroll-top:active {
    opacity: 0.95;
    transform: scale(1.05);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.scroll-top .top {
    background-color: var(--Preto);
    color: var(--LaranjaClaro);
    height: 45px;
    width: 45px;
    border-radius: 10px;
}

.top {
    color: var(--LaranjaClaro);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
    .scroll-top .top:hover {
        opacity: 0.95;
        transform: scale(1.05);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    }
}

.scroll-top .top:active {
    opacity: 0.95;
    transform: scale(1.05);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.top img {
    height: 35px;
}

/* SCROLL TOP */
